@charset "UTF-8";
			* {
				margin: 0;
				padding: 0;
			}

			#head {
				background: #f2f2f2;
				height: 40px;
				line-height: 40px;
				font-size: 20px;
			}

			#search-bar {
				height: 100px;
			}

			#logo {
				margin-top:20px;
			}

			#navsearch form {
				margin-top: 30px;
			}
			.part3{
				height: 300px;
			}
			#myCarousel img{
				height: 300px;
			}
			#classify-table{
				height:300px;
			}
			#weekhot table td {
				font-size: 15px;
				line-height: 20px;
			}

			.navbar-brand {
				color: whitesmoke;
			}

			.navbar-brand:hover {
				color: white;
			}

			.navbar-nav li a {
				color: white;
			}

			.navbar-nav li a:hover {
				color: black;
			}

			.bookdiv {
				border: 3px solid white;
				color: black;
				box-sizing:border-box;
			}
			.bookdiv:hover{
				background:#f2f2f2 ;
			}
			.bookdiv img {
				height: 170px;
				width: 120px;
			}

			.booktitle {
				font-size: 15px;
				font-weight: bold;
			}
			
			.bookdiv-info{
				height:170px;
			}