<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>ShareNovel</display-name>
	<servlet>
		<servlet-name>TestServlet</servlet-name>
		<servlet-class>cn.dmdream.controller.TestServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>novCk</servlet-name>
		<servlet-class>cn.dmdream.controller.novelCheck.novCk</servlet-class>
	</servlet>
	  <servlet>
	    <servlet-name>AdminServlet</servlet-name>
	    <servlet-class>cn.dmdream.controller.AdminServlet</servlet-class>
	  </servlet>
	  <servlet>
	    <servlet-name>AdminCategoryServlet</servlet-name>
	    <servlet-class>cn.dmdream.controller.AdminCategoryServlet</servlet-class>
	  </servlet>
  <servlet>
    <servlet-name>AdminUserlist</servlet-name>
    <servlet-class>cn.dmdream.controller.userMana.AdminUserlist</servlet-class>
  </servlet>

  






  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/testServlet.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>novCk</servlet-name>
    <url-pattern>/novCk.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/admin.do</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/admin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminCategoryServlet</servlet-name>
    <url-pattern>/adminCategory.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminUserlist</servlet-name>
    <url-pattern>/adminUserlist.do</url-pattern>
  </servlet-mapping>
  


	<welcome-file-list>
		<welcome-file>mainpage.jsp</welcome-file>
	</welcome-file-list>
	<filter>
		<filter-name>CharacterEncodingFilter</filter-name>
		<filter-class>cn.dmdream.controller.filter.CharacterEncodingFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>CharacterEncodingFilter</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>
    <filter>
        <filter-name>AdminAuthFilter</filter-name>
        <filter-class>cn.dmdream.controller.filter.AdminAuthFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AdminAuthFilter</filter-name>
        <url-pattern>/admin/*</url-pattern>
        <url-pattern>/adminCategory.do</url-pattern>
    </filter-mapping>
</web-app>