<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>ShareNovel</display-name>
	<servlet>
		<servlet-name>TestServlet</servlet-name>
		<servlet-class>cn.dmdream.controller.TestServlet</servlet-class>
	</servlet>
  <servlet>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>cn.dmdream.servlet.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/user.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>cn.dmdream.controller.AdminServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminCategoryServlet</servlet-name>
    <servlet-class>cn.dmdream.controller.AdminCategoryServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminNovelServlet</servlet-name>
    <servlet-class>cn.dmdream.controller.AdminNovelServlet</servlet-class>
  </servlet>




	<servlet-mapping>
		<servlet-name>TestServlet</servlet-name>
		<url-pattern>/testServlet.do</url-pattern>
	</servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/admin.do</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/admin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminCategoryServlet</servlet-name>
    <url-pattern>/adminCategory.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminNovelServlet</servlet-name>
    <url-pattern>/adminNovel.do</url-pattern>
  </servlet-mapping>
  
	<servlet>
		<servlet-name>ChapterServlet</servlet-name>
		<servlet-class>cn.dmdream.servlet.ChapterServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ChapterServlet</servlet-name>
		<url-pattern>/chapter.do</url-pattern>
	</servlet-mapping>
  <servlet>
    <servlet-name>ReadOnlineServlet</servlet-name>
    <servlet-class>cn.dmdream.servlet.ReadOnlineServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReadOnlineServlet</servlet-name>
    <url-pattern>/readonline.do</url-pattern>
  </servlet-mapping>
	<servlet>
		<servlet-name>BaseServlet</servlet-name>
		<servlet-class>cn.dmdream.controller.base.BaseServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BaseServlet</servlet-name>
		<url-pattern>/base</url-pattern>
	</servlet-mapping>
	<!--分类页面Servlet  -->
	<servlet>
		<servlet-name>CategoryServlet</servlet-name>
		<servlet-class>cn.dmdream.servlet.CategoryServelt</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CategoryServlet</servlet-name>
		<url-pattern>/category.do</url-pattern>
	</servlet-mapping>
	<!-- 个人中心Servelt -->
	<servlet>
		<servlet-name>UserCenterServlet</servlet-name>
		<servlet-class>cn.dmdream.servlet.UserCenterServelt</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserCenterServlet</servlet-name>
		<url-pattern>/usercenter.do</url-pattern>
	</servlet-mapping>
  <servlet>
    <servlet-name>UserSearchServlet</servlet-name>
    <servlet-class>cn.dmdream.controller.UserSearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserSearchServlet</servlet-name>
    <url-pattern>/userSearch.do</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>MainPageServlet</servlet-name>
    <servlet-class>cn.dmdream.servlet.MainPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainPageServlet</servlet-name>
    <url-pattern>/mainpage.do</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>CommentServlet</servlet-name>
    <servlet-class>cn.dmdream.servlet.CommentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommentServlet</servlet-name>
    <url-pattern>/comment.do</url-pattern>
  </servlet-mapping>
	<welcome-file-list>
		<welcome-file>mainpage.jsp</welcome-file>
	</welcome-file-list>
	<filter>
		<filter-name>CharacterEncodingFilter</filter-name>
		<filter-class>cn.dmdream.controller.filter.CharacterEncodingFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>CharacterEncodingFilter</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>
    <filter>
        <filter-name>AdminAuthFilter</filter-name>
        <filter-class>cn.dmdream.controller.filter.AdminAuthFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AdminAuthFilter</filter-name>
        <url-pattern>/admin/*</url-pattern>
        <url-pattern>/adminCategory.do</url-pattern>
        <url-pattern>/adminNovel.do</url-pattern>
    </filter-mapping>
    <filter>
    <filter-name>UserAuthFilter</filter-name>
    <filter-class>cn.dmdream.controller.filter.UserAuthFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>UserAuthFilter</filter-name>
    <url-pattern>/usercenterjsp/*</url-pattern>
    <url-pattern>/usercenter.jsp</url-pattern>
  </filter-mapping>
</web-app>